body {
    background-color: #f2ffff;
    display: grid;
    height: 100vh;
    place-items: center;
}
h3{
    font-size:40px;
}

.main{
    max-width: 400px;
    width:95%;
   min-height:435px;
    border-radius: 7px ;
    padding: 8px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
            background-color: #a3b5b0;
}

.main input{
    width: 88%;
    position: relative;
    height:80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 46px;
    border: 3.5px solid rgb(0, 0, 0);
    border-radius: 6px;
    display: flex;
    color:black;
    margin:auto;

}

.text button{
    width: 90px;
    padding: 2px;
    margin:2px 0px;
    position: relative;
    top:20px;
    left:13px;
    height:60px;
    font-size:25px;
    font-weight: bold;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
}

.text button:hover{
    background-color: black;
    color: white;
}